<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Octavius Tan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Octavius Tan professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <title> Octavius Tan </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>  
    <header>
        <h1 id = "webname"> Octavius Tan </h1>
        <nav id="myTopnav" class="topnav"> 
            <a href = "index.html"> Home </a>
            <a href = "cv.html"> CV </a>
            <a href = "contact.html" class = "active"> Contact Me </a>
            <a href = "fun.html"> For Fun </a>
            <a href="javascript:void(0);" class="icon">

                <i class="fa fa-bars" onclick="activeNav()"></i>
     
                </a>
        </nav>
    </header>

    <div class = "main">
        <h2> Contact Me </h2>
        <!-- <form action = "">
            <label for="name">Your Name (required):</label> <br>
            <input type="text" id="name" required/> <br>
            <label for="email">Your Email (required):</label> <br>
            <input type="email" id="email" required> <br>
            <label for="comment">Your Comments or Questions:</label> <br>
            <textarea id="comment" cols = "30" rows = "10" required></textarea> <br>
            <div class="button-container">
                <input type="submit" value="Send" class="submit-button"> <br>
            </div> -->
        <!-- </form> -->

        <form action ="">
                <label for="UserName">Your name (required): </label>
                <input type="text" name="UserName" id="UserName" required>
                <label for="UserEmail">Your email (required): </label>
                <input type="email" name="UserEmail" id="UserEmail" required>
                <label for="UserText">Your text (required): </label>
                <textarea name="UserText" id="UserText" cols="30" rows="10" required>
            </textarea>
                <input type="submit" value="Send" onclick="validate()">
            </form>
        <p id="ValidateMsg"></p>

        <table> 
            <tr><th> Contact Method </th> <th> Description </th></tr>
            <tr><td>Email</td><td>otan@andrew.cmu.edu</td></tr>
            <tr><td>Phone</td><td>123-456-7890</td></tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/farnam-jahanian-03b35320/" target="_blank">Farnam Jahanian</a></td>
            </tr>
        </table>
    </div>

    <body onload=" addYear()">
    <footer>
        <p id="copyYear"> Octavius Tan &copy</p>
    </footer>
    
</body>
</html>