<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Octavius Tan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Octavius Tan professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <title> Octavius Tan </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>  
    <header>
        <h1 id = "webname"> Octavius Tan </h1>
        <nav id="myTopnav" class="topnav"> 
            <a href = "index.html"> Home </a>
            <a href = "cv.html" class = "active"> CV </a>
            <a href = "contact.html"> Contact Me </a>
            <a href = "fun.html"> For Fun </a>
            <a href="javascript:void(0);" class="icon">

                <i class="fa fa-bars" onclick="activeNav()"></i>
     
                </a>
        </nav>
    </header>

    <div class = "main">
        <h2> Curriculum Vitae </h2>
        <table> 
            <tr><th> Name </th> <th> Description </th></tr>
            <tr><td> Mastercard </td><td>Incoming Data Analyst + Consultant @ 2024</td></tr>
            <tr><td> Carnegie Mellon School of Computer Science </td><td>Variability Lab Research Assistant @ 2023-2024</td></tr>
            <tr><td> Materialise </td><td>Software Test Engineer Intern @ 2023</td></tr>
            <tr><td> Scale AI </td><td> AI Data Trainer @ 2023</td></tr>
        </table>
        <a href="../static/resume.pdf" target="_blank">My resume - pdf version</a>
    </div>

    <body onload=" addYear()">
    <footer>
        <p id="copyYear"> Octavius Tan &copy</p>
    </footer>
    
</body>
</html>